body{
	background-color:mediumpurple;
}
.f{
	background-image: url(14.jpg);
	background-size: cover;
    margin: 30px;
}
h3{
	font-size:50px;
	font-family: times new romans;
	margin: 10px;
	padding: 5px;
	text-align: left;
}
h1{
	color: hotpink;
	text-shadow:10px 2px 7px hotpink;
	font-family: script;
	font-size: 60px;
	margin: 30px;
	float: left;
}
h2{
	text-align:left;
    font-size: 30px;
    font-family: Monotype Corsiva;
}
ul{
	list-style-type: none;
    float: right;
	background-color:mediumpurple ;
	margin: 30px 30px;
	padding: 5px;
	font-size: 15px;
	border-radius: 1px solid mediumpurple;
}
li{
	display: inline-block;
}
li a, .dropbtn{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color:mediumpurple ;

}
li a:hover, .dropdown:hover .dropbtn{
	background-color: pink;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  border: 1px solid transparent;
  background-color:mediumpurple ;
}
.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: justify;
  margin: 5px;  
}
.dropdown-content a:hover {
	background-color:pink;	
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color:mediumpurple ; 
}
h4{
	font-family: Algerian;
	text-align: center;
	font-size: 30px;

}
div.g{
	text-align: justify;
	margin: 40px;
	padding: 20px;
}
p{
	font-family: Monotype Corsiva;
	font-size: 30px;
}
div.h{
	border: 1px solid white;
	margin: 10px;
	padding: 5px;
}
div.x{
	   border:2px solid white;
       width: 320px;
	   height: 350px;
       text-align: center;
       font-size: 23px;
       font-family: Monotype Corsiva;
}
div.y{
	  border:2px solid white;
      width: 320px;
	  height: 350px;     
      text-align: center;
      font-size: 23px;
      font-family: Monotype Corsiva;
}
div.z{
	  border:2px solid white;
      width: 320px;
	  height: 350px;
      text-align:center;
      font-size: 23px;
      font-family: Monotype Corsiva;
}
div.b{
	border: 2px solid transparent;
	text-align: justify;
	padding: 0;
	margin: 50px;
	background-color: mediumpurple;
	background-size: cover;
}
div.c{
	   border:2px solid transparent;
       width: 320px;
	   height: 230px;
	   margin: 10px;
	   padding: 30px;color: black;
       text-align: justify;
       font-family:Monotype Corsiva;
       font-size: 20px;
}
div.d{
	  border:2px solid transparent;
      width: 320px;
	  height: 230px;
	  margin: 10px;
      padding:30px;      
      text-align: justify;
      font-size: 20px;
      color: black;
      font-family:Monotype Corsiva;
}
div.e{
	  border:2px solid transparent;
      width: 320px;color: black;
	  height: 230px;
	  margin: 10px;
      padding:30px;   
      font-size: 20px;
      text-align: justify;
      font-family:Monotype Corsiva;
}
















